* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* Background: #121212
    Primary: #BB86FC
    Header font: Open sans
    Body font: Monsteratt
*/

body {
    background-color: #121212;
}

mateiral-icons.md-32 {
    font-size: 32px;
}

.primary-color {
    color: #BB86FC;
}
.block--flex {
    display: flex;
    width: 100%;
}

.flex__column {
    flex-direction: row;
}


.padding-1x {
    padding: 1rem;
}

.nav {
    overflow: hidden;
    width: 100%;
}

.nav--primary {
    background-color: #95acb3;
}

.nav-size--70 {
    height: 70px;
}

.nav_a {
    padding: 1.75rem;
}

.font--white {
    color: white;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.spacing--2 {
    letter-spacing: 3.0px;
}

.font__open-sans {
    font-family: 'Open-sans', sans-serif;
}

.ul__inline {
    list-style-type: none;
    display: inline;
    line-height: 70px;
}

.li__float--left {
    float: left;
}

.margin-right-4x {
    margin-right: 4rem;
}

.margin__right--auto {
    margin-left: auto;
}

.nav_a:hover {
    color: #BB86FC;
}

.a-decoration--none {
    text-decoration: none;
}

.a--black {
    color: black;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}
b
.block--650 {
    height: 100vh;
    padding: 6rem 3rem;
}


.block__img {
    width: 400px;
    height: 200px;
    margin: 0 1rem;
}

.img {
    max-width: 500px;
}

.flex {
    display: flex;
}

.flex-justify--right {
    justify-content: right;
}

.block__left {
    max-width: 60%;
}

.block__right {
    width: 40%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block--40 {
    width: 40%;
    max-width: 40%;
    height: 650px;

}

.icon {
    margin-right: 1.5rem;
    font-size: 32px;
}

.icon:hover {
    color: #BB86FC;
}

.absolute {
    position: fixed;
    right: 0;
}

.meter {
    margin: 2rem 1.5rem;
}

meter::-webkit-meter-optimum-value {
    background-color: #BB86FC;
}

meter::-moz-meter-bar {
    background-color: #BB86FC;
}

.meter--bar {
    width: 25rem;
}

.block {
    /* outline: 2px solid white; */
}

.block__home {
    height: 100vh;
    padding: 6rem 3rem;
    flex-direction: row;
    width: 90%;
}

.block__home--name {
    font-size: 6rem;
    color: #fff;
    font-weight: 600;
    font-family: 'Open-sans', sans-serif;
    border-left: 2px solid #95acb3;
    padding-left: 1rem;
}

.block__home--desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    font-size: 1rem;
}
.name--margin {
    margin-top: 15rem;
}
.block__text {
    margin: 2rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


@media screen and (max-width: 1024px) {
    .block__home {
        flex-direction: column;
    }

    .block__home--name {
        font-size: 5rem;
    }
    .name--margin {
        margin-top: 2rem;
    }

    .block__home--desc {
        margin: 3rem 0;
    }

    .img {
        max-width: 500px;
    }
    .block__left {
        width: 100%;
        order: 2;
    }
    .block__right {
        width: 100%;
        order: 1;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    html {
        font-size: 1rem;
    }

    .block__home {
        flex-direction: column;
        max-width: 100%;
    }

    .block__home--name {
        font-size: 4.5rem;
        padding-left: 1rem;
    }

    .name--margin {
        margin-top: 1rem;
    }

    .img {
        max-width: 400px;
    }


    .block__home--desc {
        margin: 3rem 0;
    }

    .block__left {
        width: 100%;
        order: 2;
    }
    .block__right {
        width: 100%;
        order: 1;
    }
}


/* Mobile view */
@media screen and (max-width: 480px) {

    .block__home {
        flex-direction: column;
    }

    .block__home--name {
        font-size: 3rem;
        padding-left: 1rem;
    }

    .name--margin {
        margin-top: 1rem;
    }

    .block__left {
        width: 100%;
        order: 2;
    }
    .block__right {
        width: 100%;
        order: 1;
    }
}





